@model IEnumerable<VolunteerList>

<h1>Manage Volunteers</h1>

<div class="container p-5">
    <div class="row p-3">
        <div class="col">
            <h2 class="text-primary">Volunteer List</h2>
        </div>
        <div class="col text-right">
            <a asp-controller="Volunteer" asp-action="AddVolunteer" class="btn btn-primary">Add New Volunteer</a>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col">
            @if(Model.Count() > 0)
            {
                <table class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Opportunity Center Preference</th>
                            <th>Approval Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model)
                        {
                            <tr>
                                <td>@obj.Username</td>
                                <td>@obj.FirstName</td>
                                <td>@obj.LastName</td>
                                <td>@obj.OpportunityCenterPreference</td>
                                <td>@obj.ApprovalStatus</td>
                                <td class="w-25 text-center">
                                    <div class="btn-group" role="group">
                                        <a asp-controller="Volunteer" asp-route-Id="@obj.Id" asp-action="EditVolunteer" class="btn btn-primary">Edit</a>
                                        <a asp-controller="Volunteer" asp-route-Id="@obj.Id" asp-action="DeleteVolunteer" class="btn btn-danger">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }            
        </div>
    </div>
</div>