@model IEnumerable<OpportunityList>

<h1>Manage Opportunities</h1>

<div class="container p-5">
    <div class="row p-3">
        <div class="col">
            <h2 class="text-primary">Opportunity List</h2>
        </div>
        <div class="col text-right">
            <a asp-controller="Opportunity" asp-action="AddOpportunity" class="btn btn-primary">Add New Opportunity</a>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col">
            @if (Model.Count() > 0)
            {
<table class="table table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Opportunity Center</th>
            <th>Opportunity Title</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
        <tr>
            <td>@obj.OpportunityCenter</td>
            <td>@obj.OpportunityTitle</td>
            <td>@obj.DateAdded</td>
            <td class="w-25 text-center">
                <div class="btn-group" role="group">
                    <a asp-controller="Opportunity" asp-route-Id="@obj.Id" asp-action="EditOpportunity" class="btn btn-primary">Edit</a>
                    <a asp-controller="Opportunity" asp-route-Id="@obj.Id" asp-action="DeleteOpportunity" class="btn btn-danger">Delete</a>
                </div>
            </td>
        </tr>}
            </tbody>
        </table>            }
        </div>
        <div class="col">

            <div class="search-container input-group my-2">
                <form asp-controller="Opportunity" asp-action="Index" class="form-inline">
                    <label for="search-title">Search by Title:</label>
                    <input type="text" class="form-control" placeholder="Search..." name="title">
                    <input type="submit" value="Filter" class="btn btn-outline-success my-2 my-sm-0" />
                </form>
            </div>

            <div class="search-container input-group my-2">
                <form asp-controller="Opportunity" asp-action="Index" class="form-inline">
                    <label for="search-center">Search by Center:</label>
                    <input type="text" class="form-control" placeholder="Search..." name="center">
                    <input type="submit" value="Filter" class="btn btn-outline-success my-2 my-sm-0" />
                </form>
            </div>


            @using (Html.BeginForm())
            {
                <text>Center</text>@Html.DropDownList("center", new SelectList(ViewBag.Center))
                        <input type="submit" value="Search" class="btn btn-primary" />}




            @*Filters database results by the latest 60 days*@
            <div class="search-container input-group my-2">
                <form asp-controller="Opportunity" asp-action="Index" class="form-inline">
                    <button value="true" name="date" class="btn btn-primary">Filter by recent (60 days)</button>
                </form>
            </div>

            @*Removes filter sorting out most recent*@
            <div class="search-container input-group my-2">
                <form asp-controller="Opportunity" asp-action="Index" class="form-inline">
                    <button value="" name="date" class="btn btn-primary">Filter by all dates</button>
                </form>
            </div>


            <button class="btn btn-primary">View Volunteer Opportunity Matches</button>
        </div>
    </div>

</div>
