@model IEnumerable<AuthSystem.Models.Opportunity>

@{ ViewData["Title"] = "Opportunities"; }

<h1>Index</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)

                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Location)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Day_added)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
                </tbody>
            </table>
        </div>
        <div class="col">
            @*<p>Change Opportunity Filter</p>
                <input type="checkbox" id="most-recent" value="most-recent" />
                <label for="most-recent">Most Recent</label><br />*@

            @*TODO: Currently broken*@
            <div class="search-container input-group my-2">
                <form asp-controller="OpportunityScaffolding" asp-action="Index" class="form-inline">
                    <input type="text" class="form-control" placeholder="Search.." name="SearchString">
                    <input type="submit" value="Filter" class="btn btn-outline-success my-2 my-sm-0" />
                </form>
            </div>


            @using (Html.BeginForm())
            {
<text>Location</text>@Html.DropDownList("location", new SelectList(ViewBag.Location))
                <input type="submit" value="Search" class="btn btn-primary" />}




            @*Filters database results by the latest 60 days*@
            <div class="search-container input-group my-2">
                <form asp-controller="OpportunityScaffolding" asp-action="Index" class="form-inline">
                    <button value="true" name="day_added" class="btn btn-primary">Filter by recent (60 days)</button>
                </form>
            </div>

            @*Removes filter sorting out most recent*@
            <div class="search-container input-group my-2">
                <form asp-controller="OpportunityScaffolding" asp-action="Index" class="form-inline">
                    <button value="" name="day_added" class="btn btn-primary">Filter by all dates</button>
                </form>
            </div>


            <button class="btn btn-primary">View Volunteer Opportunity Matches</button>
        </div>
    </div>
</div>